// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$hashOrange: #ff9100;
$yellow: #ffed4a;
$green: #38c172;
$hashGreen: rgb(66, 220, 163);
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff !default;
$white-500: rgba(167, 164, 164, 0.836) !default;
$black: #000 !default;
$hashDark: rgb(39, 38, 38) !default;
$blue-spiroDiscoBall: rgba(50, 197, 255, 1) !default;
$primary: #18BC9C !default;
$secondary: #2C3E50 !default;


@font-face {
  font-family: iranYekan;
  src: url(../vendor/font/iranyekan/WebFonts/fonts/woff/iranyekanwebmedium.woff);
}
